/* Space out content a bit */
body {
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: url("/images/background1-unscharf4.png");
  background-repeat: no-repeat;
  /*background-width: 30% 20%;*/
  /*background-position: right;*/
  /*background-size: contain;*/
  filter: alpha(opacity=30);
  background-color:#70b25d;
}

a {
  color: #cfcfcf;
}

a:hover{
  text-decoration:none;
}

.bg-primary, .bg-success, .bg-info {
  padding:5px;
}

.navbar {
  background-color:#757140;
}

.navbar-text {
  color: #ffffff;
  /*background-color: #ffffff;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: 40px;*/
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;

}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}
