<div class="well">
  <h4>What is MongoDB?</h4> MongoDB ("humongous") is a free, high-performance open-source, cross-platform, schema less database (noSQL) storing JSON-like documents.
</div>

<div class="well">
  <h4>Our Goals?</h4> Exchange of ideas and expertise, help new users. Build up and curate a strong, open mongoDB user community in the Rhine-Neckar area. Maybe world domination.
</div>

<div class="well">
  <h4>When? Where?</h4> First Thuesday every month, OPOTOC GmbH, O7, Mannheim
  <b>
  <p style="margin-top:10px;" class="bg-info" ng-controller="NextDateCtrl as Next">
    Next: {{Next.nextDate | date:'dd.MM.yyyy - HH.mm'}}</p>
</b>
</div>
