<!--
<div class="container">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="pull-right">
        <p>

        </p>
        <a href="/#/contact">Contact</a>
      </div>
    </div>
  </div>
</div> -->


<h3>Welcome to MongoDB Mannheim</h3>

<div>
  <p>

  </p>
  <div id="name">
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
</div>
<a href="https://twitter.com/mongodbmannheim" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @mongodbmannheim</a>
</div>
<p>

</p>
<div>

  <a href="http://www.meetup.com/Mannheim-MongoDB-User-Group/" target="_new">
    <img src="images/meetup-logo.png" style="width:50px;" alt="" /> Meetup user group
  </a>

</div>
